
.navbar{
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
    background-color: #000000ce;
    height: 80px; 
}
.navbar-brand{
    color: white !important;
}
.collapse ul{
    margin-left: 45%;
}
.collapse ul li a{
    margin-left: 50px;
    color: aliceblue !important;
}
.collapse ul li a:hover{
    color: red !important;
}
button .collapse{
    background-color: #000000c5 !important  ;
}

@media (max-width: 991px) { /* Target small screens (Bootstrap breakpoint for collapsed navbar) */
    #navbarNav {
        background-color: #000000c5; /* Change to your desired color */
        margin-top: 32px;
        opacity: 0.9;
    }
    .collapse ul{
        margin-left: 0px;
    }
    .collapse ul li a{
        margin-left:    10px;
    }
}

@media (min-width: 992px) { /* Target large screens (navbar expanded) */
    #navbarNav {
        background-color: transparent; /* Or any other color */
    }
}
 
 


/* Styles for home section */
.home{
    text-align: center;
    width: 100%;
    height: 700px;
}
.home img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.welcomeMsg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.welcomeMsg h1{
    color: white;
    font-size: 90px;
}

/* end of the home section styles */





/* Start of the About section styles */
.aboutUsTitle{
    text-align: center;
    margin-top: 30px !important;
}
/* End of the About section styles */